TD.wtucaption {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(/images/p.gif); COLOR: #ff000c; FONT-FAMILY: Verdana,Geneva,Arial,Helvetica,sans-serif
}
DIV.wtuheader {
	MARGIN-TOP: 7px; FONT-WEIGHT: bold; FONT-SIZE: 12px; MARGIN-LEFT: 7px; COLOR: #0434b1; FONT-FAMILY: Verdana,Geneva,Arial,Helvetica,sans-serif
}
DIV.wtutext {
	MARGIN-TOP: 7px; FONT-SIZE: 12px; MARGIN-LEFT: 23px; COLOR: #0434b1; FONT-FAMILY: Verdana,Geneva,Arial,Helvetica,sans-serif
}
TD.wtulabel {
	FONT-SIZE: 12px; COLOR: #0434b1; FONT-FAMILY: Verdana,Geneva,Arial,Helvetica,sans-serif; TEXT-ALIGN: center
}
INPUT.wtusubmit {
	FONT-SIZE: 10px; LINE-HEIGHT: 10px; FONT-FAMILY: Verdana,Geneva,Arial,Helvetica,sans-serif; BACKGROUND-COLOR: #9cb7e0
}
.new {
	FONT-SIZE: 12px; COLOR: #ff0000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.copyright {
	FONT-SIZE: 11px; COLOR: #9cb7e0; FONT-FAMILY: Arial
}
.foto1 {
	FONT-SIZE: 12px; COLOR: #003399; FONT-FAMILY: Arial
}
.searchspr {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial
}
.lightblue {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial; bgcolor: #9CB7E0
}
.logotext {
	FONT-SIZE: 10px; COLOR: #7d7d7d; FONT-FAMILY: Arial
}
.maintext {
	FONT-SIZE: 12px; COLOR: black; FONT-FAMILY: Arial
}
.article_text {
	COLOR: black
}
.maintextlittle {
	FONT-SIZE: 11px; COLOR: black; FONT-FAMILY: Verdana
}
.menuwhite {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Verdana
}
P {
	MARGIN-LEFT: 6px; MARGIN-RIGHT: 6px
}
P.print {
	MARGIN-LEFT: 2px; MARGIN-RIGHT: 2px
}
P.srsmall {
	MARGIN-TOP: 4px; MARGIN-BOTTOM: 4px
}
.printcaption {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #003399; FONT-FAMILY: Arial
}
.printfooter {
	FONT-SIZE: 11px; COLOR: #003399; FONT-FAMILY: Arial
}
.Caption {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #003399; FONT-FAMILY: Arial
}
.Question {
	FONT-SIZE: 11px; COLOR: #0434b1; FONT-FAMILY: Verdana
}
.QuestionM {
	FONT-SIZE: 12px; COLOR: #06297b; FONT-FAMILY: Verdana
}
.u_txt {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana
}
.blues {
	FONT-SIZE: 11px; COLOR: #0434b1; FONT-FAMILY: Verdana
}
A {
	COLOR: #000000
}
A:visited {
	COLOR: #000000; TEXT-DECORATION: underline
}
A:active {
	COLOR: red; TEXT-DECORATION: none
}
A:hover {
	COLOR: red; TEXT-DECORATION: underline
}
A.az {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial
}
A.az:visited {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
A.az:active {
	FONT-SIZE: 12px; COLOR: red; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.az:hover {
	FONT-SIZE: 12px; COLOR: red; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
A.lnk {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
A.lnk:visited {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
A.lnk:active {
	FONT-SIZE: 12px; COLOR: red; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
A.lnk:hover {
	FONT-SIZE: 12px; COLOR: red; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
A.menublue {
	FONT-SIZE: 11px; COLOR: #003399; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.menublue:visited {
	FONT-SIZE: 11px; COLOR: #003399; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.menublue:active {
	FONT-SIZE: 11px; COLOR: red; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.menublue:hover {
	FONT-SIZE: 11px; COLOR: white; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.indexmenu {
	FONT-SIZE: 12px; COLOR: #003399; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.indexmenu:visited {
	FONT-SIZE: 12px; COLOR: #003399; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.indexmenu:active {
	FONT-SIZE: 12px; COLOR: red; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.indexmenu:hover {
	FONT-SIZE: 12px; COLOR: red; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
.k1 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #06297b; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.k1 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #06297b; PADDING-TOP: 2px; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.k1:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #06297b; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.k1:active {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: red; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.k1:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #06297b; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
.k2 {
	FONT-SIZE: 12px; COLOR: #003399; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.k2 {
	FONT-SIZE: 12px; COLOR: #003399; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.k2:visited {
	FONT-SIZE: 12px; COLOR: #003399; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.k2:active {
	FONT-SIZE: 12px; COLOR: red; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.k2:hover {
	FONT-SIZE: 12px; COLOR: red; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.k3 {
	FONT-SIZE: 11px; COLOR: #0099ff; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.k3:visited {
	FONT-SIZE: 11px; COLOR: #0099ff; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.k3:active {
	FONT-SIZE: 11px; COLOR: red; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.k3:hover {
	FONT-SIZE: 11px; COLOR: red; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.k4 {
	FONT-SIZE: 12px; COLOR: #06297b; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.k4:visited {
	FONT-SIZE: 12px; COLOR: #06297b; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.k4:active {
	FONT-SIZE: 12px; COLOR: red; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.k4:hover {
	FONT-SIZE: 12px; COLOR: #06297b; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
A.indexmenuw {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.indexmenuw:visited {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.indexmenuw:active {
	FONT-SIZE: 12px; COLOR: red; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.indexmenuw:hover {
	FONT-SIZE: 12px; COLOR: red; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.letter {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #5065a0; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.letter:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #5065a0; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.letter:active {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: red; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.letter:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: red; FONT-FAMILY: Ariall; TEXT-DECORATION: none
}
A.upmenu {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.upmenu:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.upmenu:active {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #d0ff9e; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.upmenu:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #a5c0ff; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.searchmenu {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #003399; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
A.searchmenu:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #003399; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
A.searchmenu:active {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #003399; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
A.searchmenu:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #003399; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
A.somelinks {
	FONT-SIZE: 11px; COLOR: #003399; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
A.somelinks:visited {
	FONT-SIZE: 11px; COLOR: #003399; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
A.somelinks:active {
	FONT-SIZE: 11px; COLOR: #003399; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
A.somelinks:hover {
	FONT-SIZE: 11px; COLOR: #003399; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
A.smenu {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.smenu:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.smenu:active {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #018977; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.smenu:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #018977; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.searchblack {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
A.searchblack:visited {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
A.searchblack:active {
	FONT-SIZE: 10px; COLOR: red; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
A.searchblack:hover {
	FONT-SIZE: 10px; COLOR: red; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
A.search {
	FONT-SIZE: 12px; COLOR: #003399; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
A.search:visited {
	FONT-SIZE: 12px; COLOR: #003399; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
A.search:active {
	FONT-SIZE: 12px; COLOR: red; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
A.search:hover {
	FONT-SIZE: 12px; COLOR: red; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
A.search2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #003399; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
A.search2:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #003399; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
A.search2:active {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: red; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
A.search2:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: red; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
A.searchsmall {
	FONT-SIZE: 11px; COLOR: #003399; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
A.searchsmall:visited {
	FONT-SIZE: 11px; COLOR: #003399; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
A.searchsmall:active {
	FONT-SIZE: 11px; COLOR: red; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
A.searchsmall:hover {
	FONT-SIZE: 11px; COLOR: red; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
A.pathcap {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #003399; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
A.pathcap:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #003399; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
A.pathcap:active {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: red; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
A.pathcap:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: red; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
A.pathlnk {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.pathlnk:visited {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.pathlnk:active {
	FONT-SIZE: 11px; COLOR: red; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.pathlnk:hover {
	FONT-SIZE: 11px; COLOR: red; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.pathlnk2 {
	FONT-SIZE: 11px; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.pathlnk2:visited {
	FONT-SIZE: 11px; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.pathlnk2:active {
	FONT-SIZE: 11px; COLOR: red; FONT-STYLE: italic; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.pathlnk2:hover {
	FONT-SIZE: 11px; COLOR: red; FONT-STYLE: italic; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.rolfooter {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.rolfooter:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A.rolfooter:hover {
	COLOR: #018977; TEXT-DECORATION: none
}
A.rolfooter:active {
	COLOR: #018977; TEXT-DECORATION: none
}
A.wt {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.wt:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.wt:hover {
	COLOR: #003399; TEXT-DECORATION: none
}
A.wt:active {
	COLOR: #003399; TEXT-DECORATION: none
}
