A.m9 {
	BORDER-RIGHT: #616785 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #b1bdf2 2px solid; PADDING-LEFT: 1px; FONT-SIZE: 8pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #b1bdf2 2px solid; WIDTH: 240px; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #616785 2px solid; BACKGROUND-COLOR: #98a2d1; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.m9:hover {
	BORDER-RIGHT: #858a99 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #d3dbf2 2px solid; PADDING-LEFT: 1px; FONT-SIZE: 8pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #d3dbf2 2px solid; WIDTH: 240px; COLOR: #762a1a; PADDING-TOP: 1px; BORDER-BOTTOM: #858a99 2px solid; BACKGROUND-COLOR: #d9d9ff; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.m8 {
	BORDER-RIGHT: #616785 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #b1bdf2 2px solid; PADDING-LEFT: 1px; FONT-SIZE: 8pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #b1bdf2 2px solid; WIDTH: 285px; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #616785 2px solid; BACKGROUND-COLOR: #98a2d1; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.m8:hover {
	BORDER-RIGHT: #858a99 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #d3dbf2 2px solid; PADDING-LEFT: 1px; FONT-SIZE: 8pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #d3dbf2 2px solid; WIDTH: 285px; COLOR: #762a1a; PADDING-TOP: 1px; BORDER-BOTTOM: #858a99 2px solid; BACKGROUND-COLOR: #c1c9df; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.m7 {
	BORDER-RIGHT: #616785 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #b1bdf2 2px solid; PADDING-LEFT: 1px; FONT-SIZE: 8pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #b1bdf2 2px solid; WIDTH: 380px; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #616785 2px solid; BACKGROUND-COLOR: #98a2d1; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.m7:hover {
	BORDER-RIGHT: #858a99 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #d3dbf2 2px solid; PADDING-LEFT: 1px; FONT-SIZE: 8pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #d3dbf2 2px solid; WIDTH: 380px; COLOR: #762a1a; PADDING-TOP: 1px; BORDER-BOTTOM: #858a99 2px solid; BACKGROUND-COLOR: #c1c9df; TEXT-DECORATION: none; TTEXT-ALIGN: center
}
A.m6 {
	BORDER-RIGHT: #616785 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #b1bdf2 2px solid; PADDING-LEFT: 1px; FONT-WEIGHT: bold; FONT-SIZE: 9pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #b1bdf2 2px solid; WIDTH: 300px; COLOR: #29166f; PADDING-TOP: 1px; BORDER-BOTTOM: #616785 2px solid; FONT-FAMILY: Verdana, sans-serif; BACKGROUND-COLOR: #98a2d1; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.m6:hover {
	BORDER-RIGHT: #858a99 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #d3dbf2 2px solid; PADDING-LEFT: 1px; FONT-SIZE: 9pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #d3dbf2 2px solid; WIDTH: 300px; COLOR: #762a1a; PADDING-TOP: 1px; BORDER-BOTTOM: #858a99 2px solid; FONT-FAMILY: Verdana, sans-serif; BACKGROUND-COLOR: #d9d9ff; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.m5 {
	BORDER-RIGHT: #616785 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #b1bdf2 2px solid; PADDING-LEFT: 1px; FONT-WEIGHT: bold; FONT-SIZE: 9pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #b1bdf2 2px solid; WIDTH: 745px; COLOR: #29166f; PADDING-TOP: 1px; BORDER-BOTTOM: #616785 2px solid; FONT-FAMILY: Verdana, sans-serif; BACKGROUND-COLOR: #98a2d1; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.m5:hover {
	BORDER-RIGHT: #858a99 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #d3dbf2 2px solid; PADDING-LEFT: 1px; FONT-SIZE: 9pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #d3dbf2 2px solid; WIDTH: 745px; COLOR: #762a1a; PADDING-TOP: 1px; BORDER-BOTTOM: #858a99 2px solid; FONT-FAMILY: Verdana, sans-serif; BACKGROUND-COLOR: #d9d9ff; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.m4 {
	BORDER-RIGHT: #616785 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #b1bdf2 2px solid; PADDING-LEFT: 1px; FONT-WEIGHT: bold; FONT-SIZE: 9pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #b1bdf2 2px solid; WIDTH: 760px; COLOR: #29166f; PADDING-TOP: 1px; BORDER-BOTTOM: #616785 2px solid; FONT-FAMILY: Verdana, sans-serif; BACKGROUND-COLOR: #98a2d1; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.m4:hover {
	BORDER-RIGHT: #858a99 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #d3dbf2 2px solid; PADDING-LEFT: 1px; FONT-WEIGHT: bold; FONT-SIZE: 9pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #d3dbf2 2px solid; WIDTH: 760px; COLOR: #762a1a; PADDING-TOP: 1px; BORDER-BOTTOM: #858a99 2px solid; FONT-FAMILY: Verdana, sans-serif; BACKGROUND-COLOR: #d9d9ff; TEXT-ALIGN: center; TEXT-DECORATION: none
}
FONT.m4_1 {
	BORDER-RIGHT: #d3dbf2 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #d3dbf2 2px solid; PADDING-LEFT: 1px; FONT-WEIGHT: bold; FONT-SIZE: 9pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #d3dbf2 2px solid; WIDTH: 760px; COLOR: #762a1a; PADDING-TOP: 1px; BORDER-BOTTOM: #d3dbf2 2px solid; FONT-FAMILY: Verdana, sans-serif; BACKGROUND-COLOR: #d9d9ff; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.m3 {
	BORDER-RIGHT: #616785 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #b1bdf2 2px solid; PADDING-LEFT: 1px; FONT-SIZE: 10pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #b1bdf2 2px solid; WIDTH: 433px; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #616785 2px solid; FONT-FAMILY: Arial; BACKGROUND-COLOR: #98a2d1; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.m3:hover {
	BORDER-RIGHT: #858a99 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #d3dbf2 2px solid; PADDING-LEFT: 1px; FONT-SIZE: 10pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #d3dbf2 2px solid; WIDTH: 433px; COLOR: #762a1a; PADDING-TOP: 1px; BORDER-BOTTOM: #858a99 2px solid; FONT-FAMILY: Arial; BACKGROUND-COLOR: #d9d9ff; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.m2 {
	BORDER-RIGHT: #616785 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #b1bdf2 2px solid; PADDING-LEFT: 1px; FONT-SIZE: 10pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #b1bdf2 2px solid; WIDTH: 140px; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #616785 2px solid; FONT-FAMILY: Arial; BACKGROUND-COLOR: #98a2d1; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.m2:hover {
	BORDER-RIGHT: #858a99 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #d3dbf2 2px solid; PADDING-LEFT: 1px; FONT-SIZE: 10pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #d3dbf2 2px solid; WIDTH: 140px; COLOR: #762a1a; PADDING-TOP: 1px; BORDER-BOTTOM: #858a99 2px solid; FONT-FAMILY: Arial; BACKGROUND-COLOR: #d9d9ff; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.m1 {
	BORDER-RIGHT: #616785 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #b1bdf2 2px solid; PADDING-LEFT: 1px; FONT-SIZE: 10pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #b1bdf2 2px solid; WIDTH: 130px; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #616785 2px solid; FONT-FAMILY: Arial; BACKGROUND-COLOR: #98a2d1; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.m1:hover {
	BORDER-RIGHT: #858a99 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #d3dbf2 2px solid; PADDING-LEFT: 1px; FONT-SIZE: 10pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #d3dbf2 2px solid; WIDTH: 130px; COLOR: #762a1a; PADDING-TOP: 1px; BORDER-BOTTOM: #858a99 2px solid; FONT-FAMILY: Arial; BACKGROUND-COLOR: #ffccff; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.m0 {
	BORDER-RIGHT: #616785 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #b1bdf2 2px solid; PADDING-LEFT: 1px; FONT-SIZE: 8pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #b1bdf2 2px solid; WIDTH: 95px; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #616785 2px solid; BACKGROUND-COLOR: #98a2d1; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.m0:hover {
	BORDER-RIGHT: #858a99 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #d3dbf2 2px solid; PADDING-LEFT: 1px; FONT-SIZE: 8pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #d3dbf2 2px solid; WIDTH: 95px; COLOR: #762a1a; PADDING-TOP: 1px; BORDER-BOTTOM: #858a99 2px solid; BACKGROUND-COLOR: #c1c9df; TEXT-DECORATION: none; TTEXT-ALIGN: center
}
FONT.m1 {
	BORDER-RIGHT: #d3dbf2 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #d3dbf2 2px solid; PADDING-LEFT: 1px; FONT-SIZE: 8pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #d3dbf2 2px solid; WIDTH: 95px; COLOR: #762a1a; PADDING-TOP: 1px; BORDER-BOTTOM: #d3dbf2 2px solid; BACKGROUND-COLOR: #c1c9df; TEXT-ALIGN: center; TEXT-DECORATION: none
}
FONT.m2 {
	BORDER-RIGHT: #616785 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #d3dbf2 2px solid; PADDING-LEFT: 1px; FONT-SIZE: 10pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #d3dbf2 2px solid; WIDTH: 130px; COLOR: #762a1a; PADDING-TOP: 1px; BORDER-BOTTOM: #858a99 2px solid; BACKGROUND-COLOR: #ffccff; TEXT-ALIGN: center; TEXT-DECORATION: none
}
FONT.m3 {
	BORDER-RIGHT: #d3dbf2 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #d3dbf2 2px solid; PADDING-LEFT: 1px; FONT-SIZE: 8pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #d3dbf2 2px solid; WIDTH: 285px; COLOR: #762a1a; PADDING-TOP: 1px; BORDER-BOTTOM: #d3dbf2 2px solid; BACKGROUND-COLOR: #c1c9df; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.Синий1:link {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #0000ff; FONT-STYLE: italic; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
A.Синий1:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #0000ff; FONT-STYLE: italic; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
A.Синий1:active {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #762a1a; FONT-STYLE: italic; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
A.Синий1:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #762a1a; FONT-STYLE: italic; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.Синий:link {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; MARGIN-LEFT: 5pt; COLOR: #0000ff; MARGIN-RIGHT: 5pt; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
A.Синий:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; MARGIN-LEFT: 5pt; COLOR: #0000ff; MARGIN-RIGHT: 5pt; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
A.Синий:active {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; MARGIN-LEFT: 5pt; COLOR: #762a1a; MARGIN-RIGHT: 5pt; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.Синий:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; MARGIN-LEFT: 5pt; COLOR: #762a1a; MARGIN-RIGHT: 5pt; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.Синий2:link {
	FONT-SIZE: 10pt; COLOR: #0000ff; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
A.Синий2:visited {
	FONT-SIZE: 10pt; COLOR: #0000ff; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
A.Синий2:active {
	FONT-SIZE: 10pt; COLOR: #762a1a; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
A.Синий2:hover {
	FONT-SIZE: 10pt; COLOR: #762a1a; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.Зелёный:link {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffcc; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
A.Зелёный:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffcc; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
A.Зелёный:active {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffcc; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
A.Зелёный:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ff0000; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.Зелёный2:link {
	FONT-SIZE: 8pt; COLOR: #ffffcc; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
A.Зелёный2:visited {
	FONT-SIZE: 8pt; COLOR: #ffffcc; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
A.Зелёный2:active {
	FONT-SIZE: 8pt; COLOR: #ffffcc; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
A.Зелёный2:hover {
	FONT-SIZE: 8pt; COLOR: #ffffcc; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.title {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #1128a3; FONT-FAMILY: Arial; TEXT-ALIGN: center
}
.title1 {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #1128a3; FONT-FAMILY: Arial; TEXT-ALIGN: center
}
.title2 {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ff0000; FONT-FAMILY: Arial; TEXT-ALIGN: center
}
.title3 {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ff0000; FONT-FAMILY: Arial; TEXT-ALIGN: center
}
.title4 {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; MARGIN-LEFT: 5pt; COLOR: #1128a3; FONT-FAMILY: Arial; TEXT-ALIGN: left
}
.title5 {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; MARGIN-LEFT: 5pt; COLOR: #29166f; FONT-FAMILY: Arial; TEXT-ALIGN: right
}
.title6 {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; MARGIN-LEFT: 5pt; COLOR: #29166f; FONT-FAMILY: Arial; TEXT-ALIGN: left
}
.title7 {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #1128a3; FONT-FAMILY: Arial; TEXT-ALIGN: left
}
.title8 {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #ff0000; FONT-FAMILY: Arial; TEXT-ALIGN: center
}
.mail {
	FONT-SIZE: 8pt; MARGIN-LEFT: 5pt; COLOR: #29166f; MARGIN-RIGHT: 5pt; FONT-FAMILY: Verdana, sans-serif; TEXT-ALIGN: justify
}
.mail1 {
	FONT-SIZE: 9pt; MARGIN-LEFT: 5pt; COLOR: #29166f; MARGIN-RIGHT: 5pt; FONT-FAMILY: Verdana, sans-serif; TEXT-ALIGN: left
}
.mail2 {
	FONT-SIZE: 8pt; COLOR: #29166f; FONT-FAMILY: Verdana, sans-serif; TEXT-ALIGN: center
}
.mail3 {
	FONT-SIZE: 8pt; COLOR: #29166f; FONT-FAMILY: Verdana, sans-serif; TEXT-ALIGN: left
}
.mail4 {
	FONT-SIZE: 7pt; COLOR: #ffffcc; FONT-FAMILY: Verdana, sans-serif; TEXT-ALIGN: center
}
.mail5 {
	FONT-SIZE: 8pt; MARGIN-LEFT: 5pt; COLOR: #29166f; MARGIN-RIGHT: 5pt; FONT-FAMILY: Verdana, sans-serif; TEXT-ALIGN: right
}
.mail6 {
	FONT-SIZE: 10pt; COLOR: #29166f; FONT-FAMILY: Verdana, sans-serif; TEXT-ALIGN: center
}
.mail7 {
	FONT-SIZE: 10pt; COLOR: #29166f; FONT-FAMILY: Arial; TEXT-ALIGN: center
}
.mail8 {
	FONT-SIZE: 8pt; MARGIN-LEFT: 5pt; COLOR: #29166f; MARGIN-RIGHT: 5pt; FONT-FAMILY: Verdana, sans-serif; TEXT-ALIGN: right
}
.mail9 {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #1128a3; FONT-FAMILY: Verdana, sans-serif; TEXT-ALIGN: center
}
.mail10 {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; MARGIN-LEFT: 5pt; COLOR: #29166f; MARGIN-RIGHT: 5pt; FONT-FAMILY: Verdana, sans-serif; TEXT-ALIGN: left
}
.mail11 {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; MARGIN-LEFT: 5pt; COLOR: #29166f; MARGIN-RIGHT: 5pt; FONT-FAMILY: Verdana, sans-serif; TEXT-ALIGN: right
}
.mail12 {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; MARGIN-LEFT: 5pt; COLOR: #800000; MARGIN-RIGHT: 5pt; FONT-FAMILY: Arial
}
.mail13 {
	FONT-SIZE: 7pt; COLOR: #29166f; FONT-FAMILY: Verdana, sans-serif; TEXT-ALIGN: center
}
.mail14 {
	FONT-SIZE: 7pt; COLOR: #dcdce7; FONT-FAMILY: Verdana, sans-serif; TEXT-ALIGN: center
}
.navtext {
	BORDER-RIGHT: darkgray 1px outset; BORDER-TOP: darkgray 1px outset; FONT-SIZE: 10pt; BORDER-LEFT: darkgray 1px outset; WIDTH: 300px; COLOR: #29166f; BORDER-BOTTOM: darkgray 1px outset; FONT-FAMILY: Arial; BACKGROUND-COLOR: #ffffcc; layer-background-color: #29166F
}
.poisk {
	BORDER-RIGHT: #616785 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #b1bdf2 2px solid; PADDING-LEFT: 1px; FONT-SIZE: 8pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #b1bdf2 2px solid; WIDTH: 103px; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #616785 2px solid; HEIGHT: 20px; BACKGROUND-COLOR: #98a2d1; TEXT-ALIGN: center; size: 20
}
.form {
	FONT-FAMILY: Arial; BACKGROUND-COLOR: #d9d9ff
}
.reg {
	BORDER-RIGHT: #616785 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #b1bdf2 2px solid; PADDING-LEFT: 1px; FONT-SIZE: 8pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #b1bdf2 2px solid; WIDTH: 40px; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #616785 2px solid; HEIGHT: 20px; BACKGROUND-COLOR: #98a2d1; TEXT-ALIGN: center; size: 20
}
.td1 {
	BORDER-RIGHT: #29166f 1px solid; BORDER-BOTTOM: #29166f 1px solid
}
.td2 {
	BORDER-LEFT: #29166f 1px solid; BORDER-BOTTOM: #29166f 1px solid
}
.td3 {
	BORDER-BOTTOM: #29166f 1px solid
}
.td4 {
	BORDER-TOP: #29166f 1px solid
}
.td5 {
	BORDER-RIGHT: #29166f 1px solid; BORDER-TOP: #29166f 1px solid
}
.td6 {
	BORDER-TOP: #29166f 1px solid; BORDER-BOTTOM: #29166f 1px solid
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #1128a3; FONT-FAMILY: Arial; TEXT-ALIGN: center
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #1128a3; FONT-FAMILY: Arial; TEXT-ALIGN: center
}
.1 {
	FONT-SIZE: 10pt; COLOR: #762a1a; FONT-FAMILY: Arial
}
